
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#6B3CC9;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.footerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .footerPart1 {
    flex: 0.6;
    text-align: start;
    padding-left: 100px;

  }
  
  .footerPart2,
  .footerPart3 {
    flex: 0.2;
    text-align: start;
   
  }

.line{
  padding:0px 0px 0px 1000px ;
}

.footer-containerName{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.logoFooter{
  padding-top: 20px;
}

h3{
  font-family: 'Inter', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
}

.footerPart1 p{
  margin-right: 700px;
}

@media screen and (min-width: 1440px) {
  .footerPart1{
    flex: 0.6;
    padding-left: 80px;
  }
  .footerPart2,
  .footerPart3 {
      flex: 0.2; 
  }
  .footerPart3{
    padding-right: 40px;
  }
  .line {
      display: block; 
  }

  .footerPart1 p {
      margin-right: 400px; 
  }
}

@media screen and (max-width: 1200px) {
  .footerPart1 {
      flex: 0.6;
      padding-left: 80px;
      margin-bottom: 20px;
  }
  .footerPart2,
  .footerPart3 {
      flex: 0.2;
      
      margin-bottom: 20px;
  }
  .line {
      display: block;
  }

  .footerPart1 p {
      margin-right: 200px;
  }
  .footerPart3{
    padding-right: 40px;
  }
}

